<app-navbar></app-navbar>
<h1>Cadasro de Tarefas</h1>

<form class="cadastroTarefa" action="">
    <label for="">Descrição</label>
    <input class="descricao" type="text">

    <label for="">Setor</label>
    <input class="setor" type="text">

    <label for="">Setor</label>
    <select name="" id="">
      <option value=""></option>
    </select>

    <label for="">Setor</label>
    <select name="" id="">
      <option value=""></option>
    </select>

    <button class="cadastrar">Cadastrar</button>
</form>
